html, button, input, select, textarea {
	font:12px/1.5 tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}
table{ width: 100%;}
.main_content{ margin: 0 1em;}
.search-pannel{ background: #F2F9FD; padding: 5px 1em;margin:1em 0;}
.grid-view{ margin: 1em 0;}
.grid-view .summary{line-height: 28px; text-align: right;}
a{ text-decoration: none; color:#000; font-weight: 300;}

.pure-table thead{ background: #DEEFFA;}
.list-table{ margin:5px 0;}
