.navbar{ background: rgba(255,255,255,0.7); padding: 10px 0; border-bottom: 1px #f1f1f1 solid;margin-bottom: 0;}
.navbar-brand{ background: url(../images/logo.png) no-repeat; background-size:90px 30px; width: 90px; text-indent: -1000px;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #f4f8f9;
border-color: #f33;}

.bs-input-style{ border: none; border-bottom: 1px #333 solid; text-align: center;font-size: 18px;color: #333;}
.bs-select-style{ border: none; border-bottom: 1px #333 solid;}
.textOrder{}
.textOrder dd{ float: left;margin: 5px 2px; line-height: 32px; height: 32px; font-size: 14px; color: #999;}
#ui-container{ min-height: 500px;}

/* 块 */
.section-wrap {border-bottom: 1px solid #fff;}
@media (max-width: 1200px) {
.section-wrap .section {width: 1000px;margin: 0 auto;}
}
.section-wrap .main-title {position: relative;color: #646878;font-size: 30px;font-weight: bold;line-height: 1.5;text-align: center;padding-top: 66px;margin: 0;}
.section-wrap .main-mb {margin-bottom: 50px;}
.section-wrap .main-description {color: #909090;line-height: 3;text-align: center;margin-bottom: 0;}
.project-title {
position: relative;
font-size: 16px;
color: #646878;
text-align: center;
margin-bottom: 10px;
}
.project-title:before {
content: '';
width: 100%;
border-top: 1px solid #e0e0e0;
position: absolute;
top: 10px;
left: 0;
z-index: 0;
}
.project-title span {
position: relative;
background: #fff;
padding: 0 12px;
display: inline-block;
color: #646878;
font-size: 20px;
}

/* 404 */
.error_section{ background: #eeeff4;}
.error_section .section{ text-align: center;}
.error_section .section img{ margin:5em 0;}

.srceen_home{ }
.srceen_home .container{ text-align: center;}
.srceen_home .report-card-items{ margin: 20px 0;}
.srceen_home .report-card-items .report-card-item{position:relative;display:inline-block;vertical-align:top;list-style:none;height:280px;width:100%;border:3px solid #eee;margin-bottom:20px;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.srceen_home .report-card-items .report-card-item .frontcover a{display:block;width:100%;height:160px;overflow:hidden}
.srceen_home .report-card-items .report-card-item .frontcover a img{display: block;vertical-align: middle;width:100%;height:160px; background:#f1f1f1;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.srceen_home .report-card-items .report-card-item .frontcover a:hover img{-webkit-transform:rotate(10deg) scaleX(1.5) scaleY(1.5)}
.srceen_home .report-card-items .report-card-item .info{padding:20px}
.srceen_home .report-card-items .report-card-item .datetime{float:left;width:52px;font-size:20px;font-weight:bold;font-family:'Oswald';color:#646878;line-height:24px;text-align:right}
.srceen_home .report-card-items .report-card-item .text{font-size:14px;color:#646878;line-height:20px;margin-left:75px}
.srceen_home .report-card-items .report-card-item .text>a{color:#646878}
.srceen_home .report-card-items .report-card-item .text>a:hover{color:#6f89e3}
.srceen_home .report-card-items .report-card-item:last-child{margin-right:0}

.users_home{ background: #f9f9f9;}
.users_home .report-card-items{ margin: 20px 0;}
.users_home .report-card-items .report-card-item{position:relative;display:inline-block;vertical-align:top;list-style:none;height:240px;width:100%;border:3px solid #eee;margin-bottom:20px;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.users_home .report-card-items .report-card-item .frontcover a{display:block;width:100%;height:160px;overflow:hidden}
.users_home .report-card-items .report-card-item .frontcover a img{display: block;vertical-align: middle;width:100%;height:160px; background:#f1f1f1;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.users_home .report-card-items .report-card-item .frontcover a:hover img{-webkit-transform:rotate(10deg) scaleX(1.5) scaleY(1.5)}
.users_home .report-card-items .report-card-item .info{padding:20px}
.users_home .report-card-items .report-card-item .text{font-size:14px;color:#646878;line-height:20px;}
.users_home .report-card-items .report-card-item .text>a{color:#646878}
.users_home .report-card-items .report-card-item .text>a:hover{color:#6f89e3}
.users_home .report-card-items .report-card-item:last-child{margin-right:0}



.slide_home{ background: #f4f8f9;}
.slide_home .container{}
.slide_home .container .carousel{ height: 400px;}
.slide_home .container .carousel .carousel-indicators .active{ background: #f33;}
.slide_home .container .carousel .carousel-indicators li{background: #ccc;}
.slide_home .container .carousel .carousel-inner .item{ height: 400px;}
.carousel-caption{ position: relative; right: auto;bottom: auto;}
.carousel-caption{}


.footer_section{ background: #333; text-align: center; padding: 10px 0;color:#fff;}

/* 详情内容 */
.ui-article-content{ min-height: 500px; padding: 20px 0; font-size: 14px; line-height: 1.5em;}




/**
 * 尾部
 */
.bs-footer {padding-top: 40px;padding-bottom: 30px;color: #777;text-align: left; background: #fafafa;}
.bs-footer .container{padding-top: 2em;}
#footer_nav .col-md-2{float:left;}
#footer_nav .col-md-2 ul{margin:0;padding:0}
#footer_nav .col-md-2 ul li{list-style:none;font-size:11px;margin:5px 0;padding:0}
#footer_nav .col-md-2 ul li.header{font-weight:600}
#footer_nav .col-md-2 ul li a,
#footer_nav .col-md-2 ul li.header{font-size:13px;color:#555}







